:root {
  --c-white: #ffffff;
  --c-black: #0d1004;
  --c-grey: #7d7d7d;

  --c-lemon: #b7df30;
  --c-pine: #396153;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--c-white);
  --color-text: var(--c-black);

  --color-soft: var(--c-grey);

  --color-primary: var(--c-lemon);
  --color-secondary: var(--c-pine);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--c-black);
    --color-text: var(--c-white);

    --color-soft: var(--c-grey);

    --color-primary: var(--c-pine);
    --color-secondary: var(--c-lemon);
  }
}

@font-face {
  font-family: 'General';
  src: url('./GeneralSans.otf');
}

@font-face {
  font-family: 'Monoska';
  src: url('./Monoska.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'General', 'Monoska';
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
