:root {
    --color-white: #fff;
    --color-white-soft: #d9d9d9;

    --color-black: #000;
    --color-black-soft: #111;

    --color-blue-light: #3549ba;
    --color-blue: #1534df;
    --color-blue-dark: #0d185d;

    --border-radius: 2rem;
    --gap: 1rem;
    --blur: 1rem;

    --padding: 2rem;
    --padding-small: 1rem;
}

:root {
    --color-background: var(--color-black);
    --color-background-soft: var(--color-black-soft);

    --color-heading: var(--color-white);
    --color-text: var(--color-white);
    --color-text-soft: var(--color-white-soft);

    --color-primary: var(--color-blue-dark);
    --color-secondary: var(--color-blue);
    --color-third: var(--color-blue-light);

    --gradient: linear-gradient(32deg, #0d185d 0%, #1534df 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

@font-face {
    font-family: "Gill";
    src: url("./GillSans.ttc");
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family: "Gill";
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
