:root {
    --color-white: #fff;
    --color-white-soft: #d9d9d9;

    --color-black: #000;
    --color-black-soft: #111;

    --color-blue-light: #3549ba;
    --color-blue: #1534df;
    --color-blue-dark: #0d185d;

    --gradient: linear-gradient(32deg, #0d185d 0%, #1534df 100%);
    --border-radius: 3.5rem;
    --padding: 2rem;
    --gap: 1rem;
    --blur: 1rem;
}

:root {
    --color-background: var(--color-black);
    --color-background-soft: var(--color-black-soft);

    --color-heading: var(--color-white);
    --color-text: var(--color-white-soft);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

@font-face {
    font-family: "Hagrid";
    src: url("./Hagrid.ttf");
}

@font-face {
    font-family: "Gill";
    src: url("./GillSans.ttc");
}

body {
    display: flex;
    padding: var(--gap);
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family: "Gill", "Hagrid";
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
