@import "./base.css";

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    width: 100vw;
    margin: 0;
}

h1,
h2,
h3 {
    color: var(--color-heading);
}

p,
label,
select {
    color: var(--color-text);
}

@media only screen and (min-width: 1025px) {
    #app {
        height: 100vh;
    }
}
