@import './base.css';

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

h3,
label {
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: 'Monoska';
}

p {
  font-family: 'General';
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--c-white);
  border-radius: var(--radius-medium);
  border: var(--border);
  padding: var(--padding-medium);
}

article {
  padding: var(--padding-small);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--c-background);
  border: var(--border);
  border-radius: var(--radius-small);
}

@media screen and (min-width: 768px) {
  #app {
    padding: var(--padding-large);
    border-radius: var(--radius-large);
  }
  article {
    padding: var(--padding-medium);
    border-radius: var(--radius-medium);
  }
  h1 {
    font-size: 40px;
    font-weight: bold;
  }

  h2 {
    font-size: 32px;
    font-weight: bold;
  }

  h3,
  label {
    font-size: 24px;
  }
}
