@import "./base.css";

#app {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

h1,
h2,
h3 {
    color: var(--color-heading);
    font-weight: bolder;
}

p,
label,
select {
    color: var(--color-text);
}

canvas {
    display: block;
    width: 100% !important;
    height: auto;
}
